
<div id="home-top" class="home-top-index">
    <div class="home-top-index-text">
        <h1 class="font-weight-bold">Zarządzaj swoim terraium</h1>
        Kotroluj stan swojego terrarium z dowolnego miejsca poprzez przeglądarkę internetową.
        <div>
            <button class="btn mt-3" asp-controller="Home" asp-action="Index">
                Rozpocznij za darmo
            </button>
        </div>
    </div>
</div>
