
@section Scripts{
    <script src="~/clientapp/dist/runtime.js"></script>
    <script src="~/clientapp/dist/polyfills.js"></script>
    <script src="~/clientapp/dist/styles.js"></script>
    <script src="~/clientapp/dist/vendor.js"></script>>
    <script src="~/clientapp/dist/main.js"></script>
}

<div id="home-top" class="home-top-index">
    <div class="home-top-index-text">
        <h1 class="font-weight-bold">Zarządzaj swoim terraium</h1>
        Kotroluj stan swojego terrarium z dowolnego miejsca poprzez przeglądarkę internetową.
        <div>
            <form method="get" asp-controller="Home" asp-action="Index">
                <button class="btn mt-3">
                    Rozpocznij za darmo
                </button>
            </form>
        </div>
    </div>
</div>

<the-terraristic></the-terraristic>
