html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fill-to-bottom {
    flex-grow: 1;
}

.bg-gray {
    background-color: #a8b6a8;
}

.bg-green {
    background-color: #009c1f;
}

.bg-dropdown-list {
    background-color: #69aa47;
    color: #fff;
}

.btn-green {
    background-color: #009c1f;
    border: #1e7d31 solid 1px;
    color: #fff;
}

.home-top-index {
    background-image: url('../img/homebackground.jpg');
    height: 500px;
    line-height: 400px;
    width: 100%;
    display: table;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.home-top-index-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
    .home-top-index-text button {
        background-color: #009c1f;
        border: #1e7d31 solid 1px;
        color: #fff;
        font-size: larger;
    }
        .home-top-index-text button:hover {
            color: rgba(255,255,255,.75);
        }

.form-validation-warning span {
    color: #19d63f;
    font-weight:bold;
}

.card-green{
    border-radius: 50px;
}
    .card-green h5 {
        background-color: #009c1f;
        color: #fff;
    }