<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark rounded">
            <h1 class="navbar-brand">Twoje Terrarium</h1>
           
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Strona główna</a>
                    </li>
                    <li>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Terraria</a>
                    </li>
                    <li>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Sensory</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Strona główna</a>
                    </li>
                    <li>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Terraria</a>
                    </li>
                    <li>
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Sensory</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts",false)
</body>
</html>
